.menu {
  @include reset;
  font-weight: $normal;
  text-transform: uppercase;
  .menu-item {
    display: block;
    float: none;
    clear: both;
    @media screen and ($bp-larger-than-phablet) {
      display: inline-block;
    }
    a {
      background: transparent;
      line-height: 1em;
      padding: .5em;
      border: 1px solid transparentize(#fff, 1);
      @include transition(.2s, background);
      margin-right: em(10);
      &.is-active {
        font-weight: $bold;
        @media screen and ($bp-larger-than-phablet) {
          &:after {
            content: '';
            width: 55%;
            height: 2px;
            display: block;
            background-color: $charcoal;
            margin-top: 5px;
            margin-bottom: 5px;
          }
        }
        &:hover {
          background: none;
        }
      }
      &:hover {
        background: $light-grey;
      }
    }
    &.menu-item--expanded {
      a {
        padding-right: 25px;
        .sf-sub-indicator {
          &:after {
            @include typecsset-font-size(8px);
            top: -30%;
            left: 30%;
          }
        }
      }
    }
  }
  .sub-menu {
    text-transform: capitalize;
    @include typecsset-font-size(18px);
    background: $light-grey;
  }
}

.menu--account {
  float: right;
}

.menu--main, .user-menu {
  .sf-menu-wrapper {
    display: table;
    position: relative;
    width: 100%;
    @media screen and ($bp-smaller-than-phablet) {
      .expand {
        display: block;
        vertical-align: middle;
        background: url(../../alexa/images/hamburger.svg) no-repeat;
        background-size: contain;
        width: 22px;
        height: 22px;
        cursor: pointer;
        margin-top: .6em;
      }
      .collapse {
        display: none;
        vertical-align: middle;
        background: url(../../alexa/images/ex.svg) no-repeat;
        background-size: contain;
        width: 22px;
        height: 22px;
        cursor: pointer;
        margin-top: .6em;
        margin-bottom: 1.2em;
      }
      .sf-menu {
        &.mobile-active {
          display: block !important;
          min-width: 80% !important;
          .menu-item {
            display: block;
            float: none;
            clear: both;
            .mobnav-subarrow {
              display: block;
              background-color: #0f3975;
              opacity: 0;
              height: 100%;
              width: 3em;
              position: absolute;
              top: 0;
              right: .1em;
              cursor: pointer;
            }
            ul {
              display: none !important;
              position: static !important;
              width: 100%;
              margin: 0;
              border: none;
            }
            &.xpopdrop {
              ul {
                display: block !important;
              }
            }
          }
        }
      }
    }
  }
}

.user-menu {
  .expand {
    background: url(../../alexa/images/user.svg) no-repeat !important;
  }
  .collapse {
    float: right;
  }
}