html, body {
  max-width: 100%;
}

body {
  @include typecsset-font-size(14px);
  color: $black;
  font-family: $body-font;
  font-weight: $normal;
  word-wrap: break-word;
  @media ($bp-larger-than-phablet) {
    @include typecsset-font-size(16px);
  }
}

header {
  .site-top {
    margin-bottom: .5em;
    padding: 0 0 .5em;
    background: $light-grey;
  }
  @include border(transparentize(#fff, 1), .1em, solid);
  .site--header {
    min-height: em(60);
    max-height: em(60);
  }
}

#footer {
  @include border(transparentize(#fff, 1), .1em, solid);
  background: $light-grey;
}

.site-heading {
  .region-header {
    > div, > nav {
      display: inline-block;
      vertical-align: top;
      margin: 1em 0;
    }
  }
}