.sidebar {
  &.left-sidebar {
    padding-right: 1em;
    border-right: 1px solid $light-grey;
  }
  &.right-sidebar {
    margin-left: 1em;
    padding-left: 1em;
    border-left: 1px solid $light-grey;
  }
  .block {
    margin-bottom: 1.5em;
    display: inline-block;
    background: $light-grey;
    .block-title {
      padding: 1em;
      margin-bottom: 0;
      background: $charcoal;
      color: $light-grey;
    }
    .block-content {
      padding: 1em;
    }
  }
}